[submodule "poky"]
	path = repos/poky
	url = git://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "repos/meta-openembedded"]
	path = repos/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = kirkstone
[submodule "repos/meta-virtualization"]
	path = repos/meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
	branch = kirkstone
[submodule "repos/meta-tegra"]
	path = repos/meta-tegra
	url = https://github.com/OE4T/meta-tegra.git
	branch = kirkstone
[submodule "repos/meta-tegra-community"]
	path = repos/meta-tegra-community
	url = https://github.com/OE4T/meta-tegra-community
	branch = kirkstone
[submodule "repos/meta-eddy"]
	path = repos/meta-eddy
	url = git@github.com:EddyGharib/meta-eddy.git
	branch = kirkstone
[submodule "repos/meta-updater"]
	path = repos/meta-updater
	url = https://github.com/uptane/meta-updater
	branch = kirkstone
[submodule "repos/meta-clang"]
	path = repos/meta-clang
	url = https://github.com/kraj/meta-clang
	branch = kirkstone
[submodule "repos/meta-rust-bin"]
	path = repos/meta-rust-bin
	url = git@github.com:EddyGharib/meta-rust-bin.git
[submodule "repos/meta-aws"]
	path = repos/meta-aws
	url = git@github.com:aws4embeddedlinux/meta-aws.git
	branch = kirkstone
[submodule "repos/meta-iw"]
	path = repos/meta-iw
	url = git@github.com:idealworks/meta-iw.git
	branch = master
